html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
}
.header__conteiner {
  position: relative;
}
.header__logo {
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 1024px) {
  .header__logo img {
    width: 164px;
  }
}
@media (max-width: 768px) {
  .header__logo img {
    width: 110px;
  }
}
@media (max-width: 650px) {
  .header__logo {
    position: absolute;
    left: unset;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    background: #005396;
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    justify-content: center;
  }
  .header__logo img {
    width: 85px;
  }
}
.header__body {
  position: relative;
  left: calc(-50vw + 50%);
  width: 100vw;
}
.header__top {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  background: linear-gradient(0deg, #0065b2 0%, #005fa7 25%, #00589b 50%, #005290 75%, #004c85 100%);
}
@media (max-width: 900px) {
  .header__top img {
    width: 400px;
  }
}
@media (max-width: 686px) {
  .header__top img {
    width: 350px;
  }
}
@media (max-width: 650px) {
  .header__top {
    padding: 8px 0px;
    background: #005396;
  }
}
@media (max-width: 378px) {
  .header__top img {
    width: 300px;
  }
}
@media (max-width: 300px) {
  .header__top img {
    width: 250px;
  }
}
.header__burger {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
}
.header__burger img {
  width: 35px;
}
@media (max-width: 470px) {
  .header__burger {
    display: unset;
  }
}
.header__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #005396;
}
.header__list {
  display: flex;
  padding: 15px 0;
}
.header__list li {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .header__list li {
    font-size: 10px;
  }
}
@media (max-width: 686px) {
  .header__list li {
    font-size: 9px;
  }
}
@media (max-width: 650px) {
  .header__list li {
    font-size: 11px;
  }
}
.header__list li::after {
  display: block;
  content: "";
  width: 0%;
  border: 1px solid rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.3s ease;
}
.header__list li:hover::after {
  width: 100%;
  visibility: visible;
}
.header__list li:not(:last-child) {
  margin: 0 75px 0 0;
}
@media (max-width: 1024px) {
  .header__list li:not(:last-child) {
    margin: 0 30px 0 0;
  }
}
.header__list li a {
  text-decoration: none;
  color: white;
}
.header__list li[hidden] {
  display: block;
}
@media (max-width: 600px) {
  .header__list li[hidden] {
    display: none;
  }
}

.main {
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  padding: 0 30px;
}
@media (max-width: 1024px) {
  .section {
    padding: 0 15px;
  }
}

.title {
  margin: 40px auto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1024px) {
  .title {
    margin: 30px auto;
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .title {
    margin: 20px auto;
    font-size: 20px;
  }
}

.footer {
  background: #005396;
  padding: 15px 0;
}
.footer__text {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 320px) {
  .footer__text {
    font-size: 14px;
  }
}

.table {
  width: 80%;
  min-width: 900px;
  margin: 0px auto 50px;
}
@media (max-width: 1070px) {
  .table {
    min-width: 700px;
  }
}
@media (max-width: 870px) {
  .table {
    min-width: 500px;
  }
}
@media (max-width: 600px) {
  .table {
    width: 94%;
    min-width: 300px;
  }
}
@media (max-width: 365px) {
  .table {
    width: 94%;
    min-width: 250px;
  }
}
.table__head {
  display: flex;
  padding: 10px 0px;
  background: #005396;
  border-radius: 15px 15px 0px 0px;
}
.table__head br[hid] {
  display: none;
}
@media (max-width: 400px) {
  .table__head br[hid] {
    display: inline-block;
  }
}
.table__head > div {
  flex: 1 1 16.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.table__head > div:br {
  display: none;
}
.table__head > div:not(:last-child) {
  border-right: 1px solid #ffffff;
}
@media (max-width: 1070px) {
  .table__head > div {
    font-size: 15px;
    padding: 30px 0;
  }
}
@media (max-width: 870px) {
  .table__head > div {
    font-size: 12px;
    padding: 20px 0;
  }
}
@media (max-width: 600px) {
  .table__head > div {
    font-size: 9px;
    padding: 12px 0;
  }
}
@media (max-width: 425px) {
  .table__head > div {
    font-size: 6px;
  }
}
@media (max-width: 600px) {
  .table__head {
    padding: 7px 0px;
  }
}
.table__row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
@media (max-width: 600px) {
  .table__row {
    margin: 7px 0px;
  }
}
.table__check {
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  background-color: #00ff0a;
  border-radius: 50%;
  display: inline-block;
}
@media (max-width: 600px) {
  .table__check {
    width: 15px;
    height: 15px;
    left: -20px;
  }
}
@media (max-width: 425px) {
  .table__check {
    width: 12px;
    height: 12px;
    left: -18px;
  }
}
.table__component {
  width: 100%;
  display: flex;
  align-items: center;
}
.table__component > div {
  flex: 1 1 16.6%;
  padding: 40px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #000000;
  border: 1px solid #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1070px) {
  .table__component > div {
    font-size: 15px;
  }
}
@media (max-width: 870px) {
  .table__component > div {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .table__component > div {
    padding: 20px 0px;
  }
}
@media (max-width: 600px) {
  .table__component > div {
    font-size: 10px;
  }
}
.table__component > div input {
  width: 80%;
  border: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #000000;
}
@media (max-width: 1070px) {
  .table__component > div input {
    font-size: 13px;
  }
}
@media (max-width: 870px) {
  .table__component > div input {
    font-size: 10px;
  }
}
.table__component > div:not(:last-child) {
  border-right: 0px;
}
.table__component > div.table__sub {
  display: flex;
  padding: 0;
}
.table__component > div.table__sub div {
  flex: 1 1 33.333%;
  padding: 40px 7.5px;
}
@media (max-width: 768px) {
  .table__component > div.table__sub div {
    padding: 20px 2.5px;
  }
}
.table__component > div.table__sub div:not(:last-child) {
  border-right: 1px solid #000000;
}
@media (max-width: 600px) {
  .table__component > div.table__sub {
    font-size: 10px;
  }
}
@media (max-width: 356px) {
  .table__component > div.table__sub {
    font-size: 9px;
  }
}
.table__edit {
  position: absolute;
  right: -70px;
}
@media (max-width: 780px) {
  .table__edit {
    display: flex;
    flex-direction: column;
  }
}
.table__edit img {
  cursor: pointer;
}
.table__edit img:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 1070px) {
  .table__edit img:not(:last-child) {
    margin-right: 5px;
  }
}
@media (max-width: 780px) {
  .table__edit img:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
.table__edit img:active {
  transform: translateY(2px);
}
@media (max-width: 1070px) {
  .table__edit img {
    width: 20px;
    margin-right: 0px;
  }
}
@media (max-width: 600px) {
  .table__edit img {
    width: 15px;
  }
}
@media (max-width: 1070px) {
  .table__edit {
    right: -55px;
  }
}
@media (max-width: 780px) {
  .table__edit {
    right: -30px;
  }
}
@media (max-width: 600px) {
  .table__edit {
    right: -22px;
  }
}
.table__buttons {
  display: flex;
  justify-content: space-between;
}

.modify > div {
  flex: 1 1 20%;
}

.button {
  padding: 10px 15px;
  border: 0;
  background: #005396;
  border-radius: 3px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
.button:active {
  transform: translateY(2px);
}
@media (max-width: 1024px) {
  .button {
    font-size: 16px;
    padding: 8px 13px;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 6px 11px;
  }
}
@media (max-width: 600px) {
  .button {
    font-size: 10px;
    padding: 5px 10px;
  }
}

.notoriety {
  margin: 0px auto 50px;
}
@media (max-width: 768px) {
  .notoriety {
    margin: 0px auto 15px;
  }
}
.notoriety__group {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.notoriety__text {
  margin: 0 0 20px 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .notoriety__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .notoriety__text {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 600px) {
  .notoriety__text {
    margin: 0 0 8px 0;
  }
}

.account {
  margin: 0px auto 50px;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #005396;
  border-radius: 15px;
  display: flex;
}
@media (max-width: 445px) {
  .account {
    padding: 12px 20px;
  }
}
.account__title {
  margin: 0 0 8px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  font-variant: small-caps;
}
.account p {
  max-width: 300px;
  overflow-wrap: break-word;
  color: red;
  text-align: center;
}

account__form{
    display: flex;
    flex-direction: column;
}

.account__input {
  padding: 14px 10px;
  min-width: 300px;
  margin: 0 0 21px 0;
  border: 2px solid #005396;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.4px;
  font-variant: small-caps;
}
@media (max-width: 445px) {
  .account__input {
    padding: 10px;
    margin: 0 0 10px 0;
    min-width: 200px;
  }
}
.account__button {
  margin-top: 8px;
  padding: 5px 10px;
  background: #005396;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  font-variant: small-caps;
  border: 0;
  color: #ffffff;
}
.account__button:active {
  transform: translateY(2px);
}
@media (max-width: 445px) {
  .account__button {
    font-size: 14px;
  }
}

.document {
  width: 1100px;
  margin: 0 auto;
}
.document * {
  font-family: "Times New Roman", Times, serif;
}
.document__text {
  font-size: 20px;
}
.document__text u {
  font-weight: bold;
}
.document__title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 2.5;
}
.document__text2 {
  font-size: 18px;
  text-align: center;
  line-height: 2;
}
.document__text3 {
  font-size: 14px;
  text-align: center;
}
.document__body {
  width: 100%;
}
.document__body th,
.document__body td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteiner {
  max-width: 1780px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 20px;
}