{% extends 'main/base.html' %}
{% block section %}
<div class="account">
    <div class="account__title">Вхід</div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <div>
                    {{ field.errors }}
                </div>
                {{ field }}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
                <p>{{ err }}</p>
            {% endfor %}
        {% endif %}
        <button type="submit" class="account__button">Увійти</button>
    </form>
</div>
{% endblock section %}
