{% extends 'main/base.html' %}
{% block section %}{% load static %}
<!---------------------------------- таблиця відомості успішності студентів ---------------------------------->
<div class="conteiner">
<table id="AddRecord" class="table table-dark table-bordered border-primary" width="100%">
    <thead>
        <tr>
            <th>№ Відомості</th>
            <th>Дата</th>
            <th>Группа</th>
            <th>Загальна кількість годин</th>
            <th>Семестр</th>
            <th>Дисципліна</th>
            <th>Викладач</th>
        </tr>
    </thead>

</table>
</div>
<script>

</script>
{% endblock section %}