<div class="document">
  <div class="document__text">
    <u>Приватний Вищий Навчальний Заклад «Буковинський університет»</u>
  </div>
  <div class="document__text">факультет <u>Інформаційних технологій та економіки</u></div>
  <div class="document__text">напрям підготовки (спеціальність) «Комп'ютерні науки»</div>
  <div class="document__text" style="text-align: end">Курс 1 Группа Км-501</div>
  <div>
    <div class="document__head">
      <div class="document__title">ВІДОМІСТЬ ОБЛІКУ УСПІШНОСТІ №_____</div>
      <div class="document__text2">❞___❝__________________20___року</div>
      <div class="document__text2">
        з______________________________________________________________________________________________
      </div>
      <div class="document__text3">(назва навчальної дисципліни)</div>
      <div class="document__text2">
        за___навчальний семестр. Форма семестрового контролю______________. Загальна кількість годин
        ___
      </div>
      <div class="document__text2">
        Викладач___________________________________________________________________________
      </div>
      <div class="document__text3">
        (вчене звання, прізвище та ініціали викладача, який виставляє підсумкову оцінку)
      </div>
    </div>
    <table class="document__body">
      <tr>
        <th rowspan="2">№<br />з/п</th>
        <th rowspan="2">Прізвище та ініціали студента</th>
        <th rowspan="2">
          № індивідуального<br />
          навчального плану
        </th>
        <th colspan="3">Оцінка</th>
        <th rowspan="2">Дата</th>
        <th rowspan="2">Підпис<br />викладача</th>
      </tr>
      <tr>
        <th>
          за національною<br />
          шкалою
        </th>
        <th>
          кількість<br />
          балів за 100<br />
          бальною шкалою
        </th>
        <th>ECTS</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Бензар Олександр Олександрович</td>
        <td></td>
        <td>4</td>
        <td>76</td>
        <td>С</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
