{% extends 'main/base.html' %}{% load static %}

{% block content %}
      <main class="main"><section class="profile section">
  <div class="profile__title title">профіль</div>
  <!---------------------------------- інформація про облік ---------------------------------->
<div class="notoriety">
  <div class="notoriety__text">ВІДОМІСТЬ ОБЛІКУ УСПІШНОСТІ № {{ record_number }}</div>
  <div class="notoriety__text">Дата: 25.03.23</div>
  <div class="notoriety__text">
    Назва навчальної дисципліни: Тестування программних систем i комплексiв
  </div>
  <div class="notoriety__text">Навчальний семестр: 5</div>
  <div class="notoriety__group">
    <div class="notoriety__text">Форма семестрового констролю: NaN</div>
    <div class="notoriety__text">Загальна кількість годин: 100</div>
  </div>
  <div class="notoriety__group">
    <div class="notoriety__text">Курс: 3</div>
    <div class="notoriety__text">Група: К-302</div>
  </div>
</div>

 <!---------------------------------- таблиця додавання нового обліку ---------------------------------->
<div class="table">
  <div class="table__head modify">
    <div>№<br />з/п</div>
    <div>Прізвище та ініціали студента</div>
    <div>№ індивідуального навчального плану</div>
    <div>
      <div>Оцінка</div>
    </div>
    <div>Дата</div>
  </div>
  <div class="table__body">
    <div class="table__row">
      <div class="table__component modify">
        <div>1.</div>
        <div>Бензар Олександр</div>
        <div>NaN</div>
        <div class="table__sub">
          <div>5</div>
          <div>95</div>
          <div>A</div>
        </div>
        <div>05.07.23</div>
      </div>
      <div class="table__edit">
        <img src="{% static 'main/img/edit.svg' %}" alt="edit" /><img src="{% static 'main/img/delete.svg' %}" alt="delete" />
      </div>
    </div>
    <div class="table__row">
      <div class="table__component modify">
        <div>2.</div>
        <div><input type="text" placeholder="ПIБ" /></div>
        <div><input type="text" placeholder="Щось" /></div>
        <div class="table__sub">
          <div>5</div>
          <div><input type="text" placeholder="Оцінка" /></div>
          <div>A</div>
        </div>
        <div><input type="text" placeholder="Дата" /></div>
      </div>
      <div class="table__edit">
        <img src="{% static 'main/img/add.svg' %}" alt="edit" /><img src="{% static 'main/img/delete.svg' %}" alt="delete" />
      </div>
    </div>
    <div class="table__buttons">
      <button class="button">+</button>
      <div>
        <button class="button">зберегти</button>
        <button class="button">завершити відомість</button>
        <button class="button">друк</button>
      </div>
    </div>
  </div>
</div>

  <!---------------------------------- реєстрація і логінація ---------------------------------->
<div class="account">
  <div class="account__title">Реєстрація</div>
  <input class="account__input" type="text" placeholder="Прізвище" />
  <input class="account__input" type="text" placeholder="Ім’я" />
  <input class="account__input" type="text" placeholder="По-батькові" />
  <input class="account__input" type="text" placeholder="Факультет" />
  <input class="account__input" type="text" placeholder="Логін" />
  <input class="account__input" type="text" placeholder="Пароль" />
  <button class="account__button">Зареєструвати</button>
</div>

</section>
</main>
{% endblock %}