{% extends 'main/base.html' %}
{% block section %}
<div class="account">
  <form class="account__form" method="post">{% csrf_token %}
  <div class="account__title">Профіль</div>
    {% for field in form %}
            <div>
                <div>
                    {{ field.errors }}
                </div>
                {{ field }}
            </div>
        {% endfor %}
      <div class="account__input">{{user.faculty}}</div>
  <button type="submit" class="account__button">Зберегри</button>
  </form>
</div>
{% endblock section %}