{% extends 'main/base.html' %}
<div class="account">
  <div class="account__title">Профіль</div>
  <input class="account__input" type="text" placeholder="Прізвище" />
  <input class="account__input" type="text" placeholder="Ім’я" />
  <input class="account__input" type="text" placeholder="По-батькові" />
  <input class="account__input" type="text" placeholder="Факультет" />
  <input class="account__input" type="text" placeholder="Логін" />
  <input class="account__input" type="text" placeholder="Пароль" />
  <button class="account__button">Зберегри</button>
</div>
