{% extends 'main/base.html' %}
{% block section %}{% csrf_token %}
<div class="conteiner">
    <table id="record-list" class="table table-dark table-hover table-bordered border-primary" style="width:100%">
        <thead>
            <tr>
                <th data-data="record_number">№ Відомості</th>
                <th>Дата</th>
                <th>Группа</th>
                <th>Загальна кількість годин</th>
                <th>Дисципліна</th>
                <th>Викладач</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
$(function() {
    var $table = $('#record-list');

    $table.DataTable({
        dom: 'Pfrtip',
        ajax: {
            url: "/api/RecordListAPI/?format=datatables",
            type: "GET",
            error: function() {
                // Якщо сталася помилка під час завантаження даних
                alert('Не вдалося завантажити дані.');
            }
        },
        searchPanes: {
            searchable: true,
            columns: [0, 2, 4, 5],
            initCollapsed: true,
            layout: 'columns-4',
            cascadePanes: true,
        },
        debug: true,
        columnDefs: [{
            searchPanes: { show: true },
            targets: [0, 2, 4, 5],
        }],
        columns: [
            { data: 'record_number' },
            { data: 'date' },
            { data: 'group.get_name_group' },
            { data: 'total_hours' },
            { data: 'discipline.name' },
            { data: 'teacher.get_full_name' }
        ],
        language: { url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/uk.json' },
        rowCallback: function(row, data, index) {
            $(row).attr('data-href', '/record-detal/' + data.id);
        }
    });

$table.on('click', 'tbody tr', function() {
    const href = $(this).data('href'); // Отримуємо data-href з рядка
        if (href) {
            window.open(href, '_blank');
        }
});

});

</script>
{% endblock section %}