{% load static %}
<!---------------------------------- таблиця додавання нового обліку ---------------------------------->
<div class="table">
  <div class="table__head modify">
    <div>№<br />з/п</div>
    <div>Прізвище та ініціали студента</div>
    <div>№ інди<br hid/>відуального навчального плану</div>
    <div>
      <div>Оцінка</div>
    </div>
    <div>Дата</div>
  </div>
  <div class="table__body">
    {% for g in grade %}
    <div class="table__row">
      <div class="table__component modify">
        <div>1.</div>
<!--        <div>{{ g.group_student }}</div>-->
        <div>NaN</div>
          <div class="table__sub">
            <div>5</div>
            <div>95</div>
            <div>A</div>
          </div>
        <div>05.07.23</div>
      </div>
      <div class="table__edit">
        <img src="{% static 'main/img/edit.svg' %}" alt="edit" /><img src="{% static 'main/img/delete.svg' %}" alt="delete" />
      </div>
    </div>
    {% endfor %}
<!--    <div class="table__row">-->
<!--      <div class="table__component modify">-->
<!--        <div>2.</div>-->
<!--        <div><input type="text" placeholder="ПIБ" /></div>-->
<!--        <div><input type="text" placeholder="Щось" /></div>-->
<!--        <div class="table__sub">-->
<!--          <div>5</div>-->
<!--          <div><input type="text" placeholder="Оцінка" /></div>-->
<!--          <div>A</div>-->
<!--        </div>-->
<!--        <div><input type="text" placeholder="Дата" /></div>-->
<!--      </div>-->
<!--      <div class="table__edit">-->
<!--        <img src="{% static 'main/img/add.svg' %}" alt="edit" />-->
<!--        <img src="{% static 'main/img/delete.svg' %}" alt="delete" />-->
<!--      </div>-->
<!--    </div>-->
    <div class="table__buttons">
      <button class="button">+</button>
      <div>
        <button class="button">зберегти</button>
        <button class="button">завершити відомість</button>
        <button class="button">друк</button>
      </div>
    </div>
  </div>
</div>
